body{
    background-color: bisque;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .rotate {
    padding: 10px 5px;
    border: 3px dotted blueviolet;
    border-radius: 20px;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  .rotate {
    transition: rotate 2s;
  }
  
  div:hover .rotate {
    rotate: 1 1 1 360deg;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .box {
    width: 200px;
    height: 200px;
    color: #00136c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box:first-child {
    background-color: red;
    animation: loader 2s infinite;
  }
  
  .box:nth-child(2) {
    background-color: green;
    animation: loader 3s infinite;
  }
  
  .box:nth-child(3) {
    background-color: yellow;
    animation: loader 4s infinite;
  }
  
  .box:last-child {
    background-color: blue;
    animation: loader 5s infinite;
  }
  
  @keyframes loader {
    0% {
        border-radius: 100%;
        rotate: 0deg;
      }
      25% {
        rotate: y 90deg;
        scale: 0.5;
      }
      50% {
        border-radius: 60%;
        rotate: 180deg;
      }
      75% {
        rotate: x 270deg;
        border-radius: 50%;
      }
      100% {
        border-radius:20%;
        rotate: 360deg;
      }
  }
  div:hover.box{
    background-color:coral;
  }